.collection-preview {
  width: 43%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
  border-style: dashed;
  border-width: 5px;
  border-radius: 30px;
  height: max-content;
  z-index: 1;
  // opacity: 0;
  transition: opacity 0.5s ease-in-out;

  .title {
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 25px;
    text-align: center;
    font-family: 'f1_1';
  }

  .title2 {
    color: rgb(187, 0, 0);
    font-size: 28px;
    margin-top: -10px;
    margin-bottom: 25px;
    text-align: center;
    font-family: 'f1_1';
  }

  span {
    font-size: 25px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'f1_3';
  }

  .preview {
    display: flex;
    justify-content: space-between;
  }
}

// .collection-preview.show {
//   opacity: 1;
// }
