.rightsidemapbg {
  background-color: #f8f4f1;
  background-image: url(https://d2xpg1khvwxlf1.cloudfront.net/production/images/original/34382-plus-bg-b664b3c….svg);
  background-repeat: repeat;
  background-size: 1% 2%;
}
@media (min-width: 992px) {
  .rightsidemapbg {
    background-color: #f8f4f1;
    height: 620px;
  }
}
.rightsidemapbg {
  background-color: #f8f4f1;
  background-image: url(https://d2xpg1khvwxlf1.cloudfront.net/production/images/original/34382-plus-bg-b664b3c….svg);
  background-repeat: repeat;
  background-size: 1% 2%;
}
@media (min-width: 992px) {
  .rightsidemapbg {
    background-color: #f8f4f1;
    height: 620px;
  }
}
.rightsidemapbg {
  height: 100%;
  width: 100%;
}
* {
  box-sizing: border-box;
}
user agent stylesheet div {
  display: block;
}
