.highlighted {
  padding: 1%;
  display: flex;

  .info {
    width: 50%;
    display: flex;
    justify-self: center;
  }

  .circuit {
    font-family: f1_1;
    font-size: 17px;
  }

  .name {
    margin-bottom: 10px;
  }

  .interval {
    color: red;
  }

  .image {
    width: 50%;
    height: 150px;
    margin-top: -22px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 10%;
  }
}
