.packages {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin-left: 8%;
}

.package {
  width: 100%;
  height: max-content;
  font-size: 23px;
}

.feedback {
  margin-top: 50px;
}
