.packages {
  margin-top: 10px;
  width: 90%;
  font-family: f1_2;
  display: flex;
  grid-template-columns: repeat(2, 1fr);
}

.package {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 15%;
  font-size: 20px;
}

.list-items {
  list-style: none;
}

.feedback {
  margin-top: 30px;
  text-align: center;
}
