.sign-in {
  width: 40%;
  max-width: 500px;
  margin-right: 20%;
  margin-left: 10%;
  padding: 20px;

  background-color: white;
  border-radius: 30px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  font-family: f1_1;
  text-align: center;

  border: 5px solid white;
  transition: border 0.2s ease-in-out;

  &:hover {
    border: 5px solid red;
    transition: border 0.2s ease-in-out;
  }

  &:focus-within {
    border: 5px solid red;
    transition: border 0.2s ease-in-out;
  }

  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .google-logo {
    width: 35px;
    padding: 6px 0px;
  }

  .google-button {
    width: 50px;
    margin-left: 30px;
    border: 1px solid black;
  }

  .buttonload {
    background-color: #04aa6d;
    border: none;
    color: white;
    padding: 12px 24px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: auto;
  }

  form {
    margin-top: 5%;
  }

  .resetPassword-main {
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .forgot-button {
    margin-top: -30px;
    width: 100%;
  }

  .spinner {
    margin-left: 10px;
  }

  .loader {
    color: black;
    margin: 0px auto;
    position: relative;
    font-size: 5px;
    transform: translateZ(0);
    animation-delay: -0.16s;
    margin-right: 15px;
  }
}
