.cart-dropdown {
  position: absolute;
  width: 450px;
  height: max-content;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  top: 80px;
  right: 10px;
  z-index: 3;

  .empty-message {
    font-size: 18px;
    margin: 15px auto;
    font-family: f1_2;
  }

  .cart-items {
    height: 400px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

  button {
    margin-top: 20px;
  }
}
