.profile-page {
  width: 100%;
  justify-content: center;
  margin-bottom: 80px;
}

.content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.left-menu {
  display: flex;

  margin-left: 15%;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
  border: 3px solid rgb(212, 0, 0);
  border-radius: 10px;
  padding: 20px;
  width: 270px;
  height: max-content;
  font-weight: bold;
  font-family: f1_2;
  font-size: 15px;
  flex-direction: column;

  .spinner {
    margin-left: 10px;
  }

  .loader {
    color: black;
    text-indent: -9999em;
    margin: 0px auto;
    position: relative;
    font-size: 5px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
    margin-right: 15px;
  }
}

.right-menu {
  margin-top: 40px;
  width: 95%;
  height: max-content;
  border: 1px solid black;
  padding: 10px;
}

.rm-span {
  font-family: f1_3;
  font-size: 16px;
}

.welcome {
  text-align: center;
  width: 100%;
  font-family: f1_2;
}

.info {
  font-size: 13px;
  font-family: f1_3;
  text-transform: uppercase;
}

.img-container {
  position: relative;
  cursor: pointer;
  height: 150px;
  margin-bottom: 10px;
  text-align: center;
}

.pic {
  width: 150px;
  height: 150px;
}

.blur {
  filter: blur(3px);
}

.first {
  margin-top: 10px;
}

.upload-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1em;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
}

.percentage {
  font-family: f1_2;
  margin-top: 0px;
  margin-bottom: 5px;
}

.upload {
  margin-top: 5px;
  margin-bottom: 20px;
}

.uploading-text {
  background-color: #04aa6d;
  border: none;
  color: white;
  padding: 12px 24px;
  font-size: 14px;
  font-weight: bolder;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: auto;
  margin-bottom: 15px;
}

.editable-field {
  margin-top: 5px;
  margin-bottom: 20px;
  width: 110%;
  word-wrap: break-word;
  background-color: rgb(201, 200, 200);
  border: 2px solid #ccc;
  padding: 5px;
  text-align: center;
  font-family: f1_1;
  font-size: 100%;
}

.edit {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.first-edit {
  margin-bottom: 10px;
}
