.order-item {
  width: 100%;
  display: flex;
  min-height: 100px;
  border-bottom: 1px solid darkgrey;
  padding: 15px 0;
  font-size: 18px;
  align-items: center;

  &:hover {
    background-color: rgb(187, 187, 187);
  }

  .no {
    margin-left: 2%;
    margin-right: 7%;
  }

  .date {
    margin-right: 13%;
  }

  //   .quantity {
  //     padding-left: 40px;
  //   }

  .total {
    // margin-left: 5%;
    margin-right: 13%;
  }

  .no,
  .date,
  .total {
    width: 20%;
  }

  .details {
    margin-right: 2%;

    img {
      width: 30px;
      height: 100%;
      cursor: pointer;
    }
  }
}
