.cart-icon {
  width: 28px;
  height: 55px;
  margin-right: 5px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .shopping-icon {
    width: 30px;
    height: 30px;
  }

  .item-count {
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    bottom: 15px;
  }
}
