.checkout-page {
  width: 90%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 0;
  font-family: f1_2;

  .checkout-header {
    font-size: 20px;
    font-family: f1_1;
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid darkgrey;

    .header-block {
      text-transform: capitalize;
      width: 100%;

      &:last-child {
        width: 8%;
      }
    }
  }

  .test-order {
    font-size: 0.8rem;
  }

  .total {
    margin-top: 30px;
    margin-left: auto;
    font-size: 33px;
    font-family: f1_2;
  }

  button {
    width: 100px;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 100px;
  }

  .test-warning {
    text-align: center;
    margin-top: 40px;
    font-size: 24px;
    color: red;
  }
}
