a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
  /* background-color: whitesmoke; */
}

.attentionBox {
  font-family: 'f1_1';
  font-size: 30px;
  text-align: center;
  z-index: 10;
}
