@font-face {
  font-family: 'f1_1';
  src: local('f1_1'), url(./assets/f1_1.ttf) format('truetype');
}

@font-face {
  font-family: 'f1_2';
  src: local('f1_2'), url(./assets/f1_2.ttf) format('truetype');
}

@font-face {
  font-family: 'f1_3';
  src: local('f1_3'), url(./assets/f1_3.ttf) format('truetype');
}

body {
  background-color: beige;
}
