@media (max-width: 2000px) {
  .homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;

    background-color: black;

    background-image: url('../../assets/bg_22.jpg'),
      url('../../assets/bg2.avif');
    background-size: 100% 800px, 100% 50%;
    background-repeat: no-repeat, no-repeat;
    background-position: top, bottom;
  }

  .welcomeMessage {
    background-color: rgba(255, 255, 255, 0.4);
    color: black;
    position: absolute;
    font-family: 'f1_1';
    font-size: 30px;
    text-align: center;
    border: 8px dashed red;
  }

  h1 {
    background-color: transparent;
  }

  .contact {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
    // border: 2px solid red;
  }
}

// .modal {
//   width: 500px;
//   background: white;
//   border: 1px solid #ccc;
//   transition: 1.1s ease-out;
//   box-shadow: -2rem 2rem 2rem rgba(black, 0.2);
//   filter: blur(0);
//   transform: scale(1);
//   opacity: 1;
//   visibility: visible;

//   &.red {
//     background: black;
//     color: red;
//   }
//   &.blue {
//     background: blue;
//     color: red;
//   }

//   &.off {
//     opacity: 0;
//     visibility: hidden;
//     filter: blur(8px);
//     transform: scale(0.33);
//     box-shadow: 1rem 0 0 rgba(black, 0.2);
//   }
//   @supports (offset-rotate: 0deg) {
//     // OLD
//     // offset-rotation: 0deg;
//     // NEW
//     offset-rotate: 0deg;
//     offset-path: path('M 250,100 S -300,500 -700,-200');
//     &.off {
//       offset-distance: 100%;
//     }
//   }
//   @media (prefers-reduced-motion) {
//     offset-path: none;
//   }
//   h2 {
//     border-bottom: 1px solid #ccc;
//     padding: 1rem;
//     margin: 0;
//   }
//   .content {
//     padding: 1rem;
//   }
//   .actions {
//     border-top: 1px solid #ccc;
//     background: #eee;
//     padding: 0.5rem 1rem;
//     button {
//       border: 0;
//       background: #78f89f;
//       border-radius: 5px;
//       padding: 0.5rem 1rem;
//       font-size: 0.8rem;
//       line-height: 1;
//     }
//   }
// }

// #centered-toggle-button {
//   position: absolute;
// }
